<div class="wrapper">

  <div class="form-container">
    <form [formGroup]="loginForm" class="form" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <input
          type="email"
          formControlName="email"
          placeholder=" "
          class="input"
        />
        <label>Email</label>
        <div class="error" *ngIf="loginForm.get('email')?.hasError('required')">
          Email is required.
        </div>
        <div class="error" *ngIf="loginForm.get('email')?.hasError('email')">
          Enter a valid email.
        </div>
      </div>

      <div class="input-group">
        <input
          type="password"
          formControlName="password"
          placeholder=" "
          class="input"
        />
        <label>Password</label>
        <div
          class="error"
          *ngIf="loginForm.get('password')?.hasError('required')"
        >
          Password is required.
        </div>
        <div
          class="error"
          *ngIf="loginForm.get('password')?.hasError('minlength')"
        >
          Minimum 6 characters required.
        </div>
      </div>

      <button type="submit" [disabled]="!loginForm.valid" class="btn">
        Login
      </button> 
    </form>
  </div>


</div>
