<mat-toolbar color="primary" class="full-width p-4">
  <button mat-icon-button [routerLink]="['/dashboard']">
    <mat-icon>home</mat-icon>
  </button>
  <span class="flex-grow-1">My App</span>

  <div class="nav-links">
    <a mat-button routerLink="/dashboard">Home</a>
    <a mat-button routerLink="/employee" *ngIf="canAccess">Employee</a>
    <a mat-button routerLink="/leave-request" *ngIf="!canAccess">Leave Request</a>
    <a mat-button routerLink="/leave-list" *ngIf="canAccess">Leave List</a>
  </div>

  <div class="user-info">
    <span class="welcome-text">Welcome, {{ loggeduser?.email }}</span>
    <button mat-raised-button color="warn" (click)="onLogOut()">Log Out</button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
